/* Cores Raiz - Backgoraund*/
:root{
--cor-:#ffffff;}

/*span*/
.p1{color:#b30000;}
.p13{color:##000000;}

/*preto*/
.p09{color:#003c54;}
.p10{color:#00293a;}
.p11{color:#001721;}
.p12{color:#000507;}
.p13{color:#000000;}

/*cinza*/
.c09{color:#bdbcbc;}
.c10{color:#b0b0b0;}
.c11{color:#a4a3a3;}
.c12{color:#979696;}
.c13{color:#8a8989;}
.c14{color:#7e7c7c;}
.c15{color:#717070;}

/*branco*/
.b12{color:#ffffff;}
.b13{color:#fbfcfd;}
.b14{color:#eaeff5;}
.b15{color:#d9e3ec;}
.b16{color:#c8d6e4;}

/*azul*/
.a09{color:#31c2ff;}
.a10{color:#17bbff;}
.a11{color:#00b2fd;}
.a12{color:#00a0e3;}
.a13{color:#008eca;}
.a14{color:#007cb0;}
.a15{color:#006a97;}

/*vermelho*/
.v09{color:#ff4d4d;}
.v10{color:#ff3333;}
.v11{color:#ff1a1a;}
.v12{color:#ff0000;}
.v13{color:#e60000;}
.v14{color:#cc0000;}
.v15{color:#b30000;}


/*verde*/
.vd09{color:#22e91b;}
.vd10{color:#1bd714;}
.vd11{color:#18bf12;}
.vd12{color:#15a810;}
.vd13{color:#12910e;}
.vd14{color:#0f790c;}
.vd15{color:#0c6209;}