.texto-grande{
  font-size: 72px;
  line-height: 60px;
  font-family: "Poppins";
font-weight: 600;
}

.texto-medio{
  font-size: 50px;
  line-height: 40px;
  font-family: "Poppins";
  font-weight: 600;
}

.texto-pequeno{
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto";
  font-weight: 400;
}