.estoque h1 {
  color: #000000;
  padding-top: 40px;
 padding-bottom: 40px;
    padding-left: 100px;

}
.estoque h1 span{
  padding:10px 0px 5px 15px;
  padding-bottom: 5px;
width:30px;
height: 40px ;
 background-color: #b30000;
 display: inline-flex;
}

p{
padding-left: 200px;

}

#imagem{
  width: 600px;
    }