.estoque{color:#000000;padding-top:30px; padding-left:80px;}

.p1 {padding:10px 0px 5px 15px; padding-bottom: 5px; width:30px;
height:47px; background-color:#b30000; display:inline-flex;}

.estoque-produtos{display:grid;  grid-template-columns:1fr 0.9fr;
; padding-top:50px; padding-left:80px;}

#imagem{width:500px; height: 300px; margin-top:100px;}