.produto h1{color:#000000; padding-top:40px; padding-bottom:40px;
padding-left:100px;}

.produto h1 span{color:#b30000;}

.cabos{display:flex; gap:40px; padding-left:0px; max-width:1400px;
margin-left:30px;}

li{display:block; max-width:210px;}

img{width:200px;}